<footer class="">
    <div class="container col-12">
        <section class="info col-lg-3 col-md-5 col-sm-11">
            <ul class="">
                <p> 
                <li class="">
                    Charles M. Erd</li>
                
                    <li class=""><span class=""> Java Full-Stack SWE</span></li>
                </p>   
                <p>
                    <li class="">Email</li>
                        <li><span class=""> cerd@rockets.utoledo.edu</span></li>
                </p>


            </ul>
        </section>
        
        <section class="hours col-lg-3 col-md-5 col-sm-11">
            
            <a href="https://www.linkedin.com/in/charles-m-erd-326517131"><i  class="fa fa-linkedin fa-icons" aria-hidden="true"></i></a>
        </section>
        
        <section class="links col-lg-3 col-md-5 col-sm-11">
            
            <a href="https://github.com/charley43613"><i  class="fa fa-github fa-icons" aria-hidden="true"></i></a>
        </section>
  </div>

</footer>
<div>
