<div class="row">
    <!--placeholder img, label and img url input X3-->
    <div class="col-lg-4 text-center">
        <img src="https://photos.puppyspot.com/6/listing/608266/photo/5003478_large-resize.jpg" width="200" height="270">
    </div>

    <div class="col-lg-4 text-center">
        <img src="https://www.thesprucepets.com/thmb/zHl4_24aWU_WgqHMAlrEZhC_qL8=/2121x1414/filters:fill(auto,1)/Germanshepherdpuppy-0e2cd16b74264a7f96a05d29d5ac2659.jpg"width="200" height="270">
    </div>

    <div class="col-lg-4 text-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSGerx32zagkrREVquUNexxIbZl-rjcrndXaE30FR7a7nkQKQjj&usqp=CAU"width="200" height="270">
    </div>

</div>
