<div class="row">
    <!--placeholder img, label and img url input X3-->
    <div class="col-lg-4 text-center">
        <h1>Img A</h1>
        <img src="{{img1}}" width="200" height="270">
        <input type="text" [(ngModel)]="img1">
    </div>

    <div class="col-lg-4 text-center">
        <h1>Img B</h1>
        <img src="{{img2}}"width="200" height="270">
        <input type="text" [(ngModel)]="img2">
    </div>

    <div class="col-lg-4 text-center">
        <h1>Img C</h1>
        <img src="{{img3}}"width="200" height="270">
        <input type="text" [(ngModel)]="img3">
    </div>

        <button type="button" class="btn btn-primary mycustombtn" (click)="requestImgComparison()">Compare image urls</button>
        <div *ngIf="aTobMsg != null">
            <p>"{{aTobMsg}}"</p>
            <p>"{{aTocMsg}}"</p>
        </div>

   


</div>
